.sidebar {
    display: flex;
    flex-direction: column;
    min-width: 20%;
}

.sidebar-title {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 15vh;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    border-radius: 1vh;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    height: 80vh;
    padding: 1vh;
    background-color: #EDEDED;
}

.upload-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: flex-end;
    margin-bottom: 2vh;
}

.upload-box {
    border: 2px dashed rgb(91, 91, 91);
    border-radius: 5px;
    padding: 60px;
    text-align: center;
    cursor: pointer;
    margin: 15px 5px;
    background-color: #C7C7C7;
    color: rgb(91, 91, 91);
}

.upload-box:hover {
    background-color: rgba(139, 139, 139, 1);
}

.video-preview {
    display: flex;
    width: 100%;
}

.video {
    width: 100%;
    border-radius: 5px;
    margin: 15px 5px;
}

.upload-button {
    display: flex;
    width: 45%;
    justify-content: center;
}

.transcript {
    color: black;
}

.toggle-icon {
    max-width: 23px;
    max-height: 23px;
}

.inf-type-toggle {
    align-content: center;
    height: 43px;
    width: auto;
}