#root {
  display: block;
  width: 100vw;
  padding: 0 0 0 0;
}

.app {
  display: flex;
  flex-direction: row;
  gap: 2vh;
  padding: 2vh;
  border: 2px solid white;
  height: 85vh;
  align-items: flex-end;
}